<!DOCTYPE html>
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>viz index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'viz/style.css' %}" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-api-0.13.0.min.js"></script>

    <script>
        $(".checkbox").click(function () {
            $(this).toggleClass('checked')
        });
    </script>

</head>
<body>

<div class="container-fluid" id="container">

    <div class="row" id="row1">
        {#        Code for creating a navbar, left of page#}
        <div class="container-fluid col-1 h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <nav class="vertical-menu flex-column" style="position: fixed;">
                    <a class="active" href=".">Line Plots</a>
                    <a href="data_table.html">Data Table</a>
                    <a href="pca.html">PCA</a>
                </nav>
            </div>
        </div>

        {#        Content, middle of page, wide col#}
        <div class="container-fluid col-10">
            <h1>Title Here</h1>

            <div class="" id="viz-box">
                {% block viz_box_content %}
                {% endblock %}
            </div>

            <div>
                {% block tab_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% block js %}
{% endblock %}

</body>
</html>




















