{#This file displays a box plot based on user options#}
{% extends "viz/base.html" %}

{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block extra_stylesheets %}
    <link rel="stylesheet" href="{% static 'viz/index_style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'viz/data_table_style.css' %}" type="text/css">
{% endblock extra_stylesheets %}

{% block js_start %}
    {#    <script type="text/javascript">#}
    {#        var inner_width = $('.bk-root').innerWidth();#}
    {#        $('.bk-data-table').width(inner_width);#}
    {##}
    {#        inner_width = Math.ceil(inner_width);#}
    {##}
    {#        var html_with_width = 'data_table/' + inner_width + '/';#}
    {##}
    {#        document.getElementById('#navitem-data-table').href = html_with_width;#}
    {#    </script>#}
{% endblock %}

{% block navitem_data_table %}active{% endblock navitem_data_table %}
{% block navitem_line_plots %}{% endblock navitem_line_plots %}

{% block viz_box_content %}
    {{ div | safe }}
    {#    <div id="download_button">#}

    {#    </div>#}
{% endblock %}


{% block tab_content %}
    <div id="div_download_button">
        <form action="download_button">
            <input id="" type="button" method="POST" value="Download as csv" name="download_button">
        </form>
    </div>

    {% include 'viz/options.html' %}
{% endblock %}

{#<h1>bth here</h1>#}
{#{{ btn_div | safe }}#}

{% block js %}
    {{ script | safe }}
    <script src="{% static 'viz/index.js' %}" type="text/javascript"></script>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'viz/data_table.js' %}" type="text/javascript"></script>
    {#    {{ btn_script | safe }}#}
{% endblock %}















