{% extends "viz/index.html" %}

{% include "viz/index.html" %}

{% block content %}

    <h1>header</h1>
{% endblock %}

{#{% block form %}#}
{#    <form action="data_table.html" id="ctrl-panel-form" name="control_panel" method="post" class="form-check-inline">#}
{#        <table border="2" class="table-dark center" id="ctrl-panel-tbl">#}
{#            {% csrf_token %}#}
{#            {{ db_controller_form }}#}
{#        </table>#}
{#    </form>#}
{##}
{#{% endblock %}#}



{#<h1> suprise</h1>#}




















