<!DOCTYPE html>
{% load static %}
{# Load the tag library #}
{% load bootstrap4 %}

{% load nvd3_tags %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>viz index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'viz/style.css' %}" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-api-0.13.0.min.js"></script>
    <script>
        $(".checkbox").click(function () {
            $(this).toggleClass('checked')
        });
    </script>

</head>
<body>

<div class="container-fluid" id="container">
    <div class="row" id="row1">
        {#        Code for creating a navbar, left of page#}
        <div class="col-md-2 navbar" id="panel-left">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href=".">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bar Graph</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Line Graph</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Data Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Design</a>
                </li>
            </ul>
        </div>
        {#        Content, middle of page, wide col#}
        <div class="container-fluid col">
            <h1>Title Here</h1>

            <div class="" id="viz-box">
                {{ div | safe }}
            </div>

            {#            Another control panel for selecting options#}
            <div class="tab">
                <button class="tablinks"
                        onClick="openTab(event, 'control_panel')"
                        id="control_panel_tab">Control Panel
                </button>
                <button class="tablinks" onClick="openTab(event, 'legend')">Legend</button>
            </div>

            <div class="" id="outside-opt-container">

                <div class="tabcontent" id="control_panel">
                    {#                    {% block form %}#}
                    <div>
                        <form action="."
                              id="ctrl-panel-form"
                              name="control_panel"
                              method="post"
                              class="form-check-inline">
                            {% csrf_token %}
                            <table border="2" class="table-dark center" id="ctrl-panel-tbl">
                                {{ db_controller_form }}
                            </table>
                        </form>
                    </div>
                    <input type="submit" value="Submit" class="btn" id="submit-btn" form="ctrl-panel-form">
                    <div>
                        <button onclick="ticker('id_cell_lines', ['A', 'B', 'C'], true);">Neonatal</button>
                        <button onclick="ticker('id_cell_lines', ['D', 'E', 'F'], true);">Senescent</button>
                        <button onclick="ticker('id_cell_lines', ['G', 'H', 'I'], true);">Adult</button>
                        <button onclick="ticker('id_cell_lines', ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'], true);">
                            All
                        </button>
                        <button onclick="ticker('id_cell_lines', [], true);">None</button>
                    </div>
                    <div>
                    <button onclick="ticker('id_treatments', ['TGFb', 'Control'], true);">Both</button>
                    <button onclick="ticker('id_treatments', [], true);">Neither</button>

                    </div>
                    <div>
                        <button onclick="ticker('id_time_points', ['0','0.5','1','2','4','8','12','24','48','72','96'], true);">All</button>
                        <button onclick="ticker('id_time_points', [], true);">None</button>
                    </div>
                </div>


                <div class="tabcontent" id="legend">
                    <h2>legend</h2>
                </div>
            </div>

        </div>
        {#        Control panel stuff, right of page#}
        {#        <div class="col-2 panel-right">#}
        {#            <div class="top-to-bottom">#}
        {#                <div class="row" , id="right">#}
        {#                    {{ db_controller_form.genes }}#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
</div>

{{ script | safe }}

<script>
    {#Script to switch tabs in the control panel#}

    function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds) {
                break;
            }
        }
    }


    {#;#}


    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    function defaultTab() {
        document.getElementById('control_panel').style.display = "block";
        document.getElementById('control_panel_tab').className += " active";
    }

    defaultTab();

    function ticker(ul_id, subset_list, action) {
        var inputs = $('#' + ul_id + ' input');
        let i;
        for (i = 0; i < inputs.length; i++) {
            inputs[i].checked = false;
            if ($.inArray(inputs[i].value, subset_list) >= 0) {
                if (action = true) {
                    inputs[i].checked = true;
                }
            }
        }
    };

</script>
</body>
</html>




















