<!DOCTYPE html>
{% load static %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>viz index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">#}
    {#    <script src="https://code.jquery.com/jquery-3.3.1.min.js"#}
    {#            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>#}
    <link rel="stylesheet" href="{% static 'viz/style.css' %}" type="text/css">
</head>
<body>


{#<form action="{% url 'viz:get_all' %}" method="get"></form>#}
{#<form action="/your-name/" method="post">#}
{#    {% csrf_token %}#}
{#    {{ form }}#}
{#    <input type="submit" value="Submit">#}
{#</form>#}

{#// div that contains the entire page#}

{#    //for control panel#}

<div class="container-fluid" id="container">
    <h1> viz index </h1>
    <div class="row" id="row1">

        {#        Code for creating a navbar#}
        <div class="col-md-1 navbar" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 3</a>
                </li>
            </ul>
        </div>
        <div class="container-fluid col">
            <div class="row" id="inner-row1">
                <div class="col">
                    <svg>

                    </svg>
                </div>
            </div>
            <div class="row" id="">
            </div>


        </div>
        {#        Control panel stuff#}
        <div class="col-2">
            <div class="top-to-bottom">
                <div class="form">
                    <h2>Genes Selection</h2>
                    <div class="row">
                        {{ gene_form }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#<div class="container-fluid">#}
    {#    <div class="row">#}
    {#        <div class="colSM">#}
    {#            <form action="/do-something/" method="post">#}
    {#                {% csrf_token %}#}
    {#                {{ gene_form }}#}
    {#                <input type="submit" value="Submit">#}
    {#            </form>#}
    {#        </div>#}
    {#    </div>#}
    {#</div>#}
</body>
</html>




















