

html, body {
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, p, label, option {
    color: white;
    text-align: center;
}


select {
    background-color: #505255;
    width: 95%;
    height: 100%;
}
form {
    size: 50px;
}

#container {
    height: 100%;
}

#row1 {
    height: 100%;
}

#inner-row1 {
    height: 75%;
}

#inner-row2 {
    height: 25%;
}

#navbar {
}


#gene-selection {
    background-color: #505255;
    height: 100%;
}

option {
    font-size: 24px;
}

.option-cls {

}

.top-to-bottom{
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;

}


svg {
    background-color: white;
    height: 100%;
    width: 100%;
}














